<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Column definitions -->
        <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef>{{ col | titlecase }}</th>
            <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>

        <!-- Table header row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Table data rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>