<div style="display: flex; flex-direction: column; align-items: center;">
  <h3>Login Form</h3>
  <div style="width: 300px;">
    <form (ngSubmit)="login(form)" #form="ngForm" style="display: flex; flex-direction: column;">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" id="user_name" name="user_name" [(ngModel)]="loginData.user_name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" style="align-self: center;">Login</button>
    </form>
  </div>
</div>
