<h2 mat-dialog-title>Add Doctor</h2>
<mat-dialog-content class="mat-typography">
  <form #doctorForm="ngForm" style="display: flex; flex-direction: column; justify-content: space-between;">
  <div >
    <mat-form-field style="margin: 10px;">
      <input matInput placeholder="Name" name="name" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Specialty" name="specialty" ngModel required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="margin: 10px;">
      <input matInput placeholder="Hospital ID" name="hospitalId" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone Number" name="phoneNumber" ngModel required>
    </mat-form-field>
  </div>
    <mat-form-field>
      <input matInput placeholder="Email" name="email" ngModel required email>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="doctorForm.value" [disabled]="!doctorForm.valid" cdkFocusInitial>Add</button>
</mat-dialog-actions>
