<table mat-table [dataSource]="getData()" class="mat-elevation-z8">
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Full Name</th>
    <td mat-cell *matCellDef="let element">{{element.fullName}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>Number</th>
    <td mat-cell *matCellDef="let element">{{element.number}}</td>
  </ng-container>
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Password</th>
    <td mat-cell *matCellDef="let element">{{element.password}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['fullName', 'email', 'number', 'password']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['fullName', 'email', 'number', 'password'];"></tr>
</table>

<form (ngSubmit)="saveData()">
  <mat-form-field>
    <input matInput placeholder="Full Name" [(ngModel)]="formData.fullName" name="fullName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="formData.email" name="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Number" [(ngModel)]="formData.number" name="number">
  </mat-form-field>
 
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>

